@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap");
@import "themes/nordTheme.scss";
body {
  background-color: $nord0;
  color: #eceff4;
  font-family: "JetBrains Mono", monospace;
}
h1 {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
}

h2 {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
}
img {
  width: 36.45vw;
  height: 47.51vh;
  // border-style: solid;
  // border-color: #88c0d0;
  // border-width: 2px;
  // border-radius: 15px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
}
.centered {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
}

.bookmarks {
  // box-shadow: 7.5px 7.5px 10px 4px #3b4252;
  // border: 2px solid #88c0d0;
  border-radius: 15px;
  background: $nord1;
  margin: 10px;
  height: 21.119324181626187vh;
  width: 10.416666666666666vw;
  float: left;
  color: $nord4;
  transition: transform 0.3s;

}

.bookmarks:hover {
  transform: scale(1.1);

}

a {
  display: block;
  text-align: center;
  color: $nord4;
  padding-bottom: 15px;
  text-decoration:  none;
  // display: inline-block;
  transition: transform 0.3s;
}

a:hover {
  color: $nord8;
  transform: scale(1.2);
}

input:focus {
  outline: none;
}
input:hover {
  transform: scale(1.2);
}

.searchBox {
  outline: none;
  font-family: "JetBrains Mono", monospace;
  border-style: solid;
  // border-width: 2px;
  border-color: $nord0;
  border-radius: 15px;
  background-color: $nord1;
  color: #eceff4;
  width: 20.83vw;
  height: 4.22vh;
  transition: transform 0.3s;

}
