@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap");
body {
  background-color: #2e3440;
  color: #eceff4;
  font-family: "JetBrains Mono", monospace;
}

h1 {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
}

h2 {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
}

img {
  width: 36.45vw;
  height: 47.51vh;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
}

.centered {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
}

.bookmarks {
  border-radius: 15px;
  background: #3b4252;
  margin: 10px;
  height: 21.1193241816vh;
  width: 10.4166666667vw;
  float: left;
  color: #d8dee9;
  transition: transform 0.3s;
}

.bookmarks:hover {
  transform: scale(1.1);
}

a {
  display: block;
  text-align: center;
  color: #d8dee9;
  padding-bottom: 15px;
  text-decoration: none;
  transition: transform 0.3s;
}

a:hover {
  color: #88c0d0;
  transform: scale(1.2);
}

input:focus {
  outline: none;
}

input:hover {
  transform: scale(1.2);
}

.searchBox {
  outline: none;
  font-family: "JetBrains Mono", monospace;
  border-style: solid;
  border-color: #2e3440;
  border-radius: 15px;
  background-color: #3b4252;
  color: #eceff4;
  width: 20.83vw;
  height: 4.22vh;
  transition: transform 0.3s;
}

/*# sourceMappingURL=styles.css.map */
